:root {
  --primary-color: #4c1d95;
  --secondary-color: #312e81;
}

body {
  background: linear-gradient(180deg, #1d2734 0%, #404a5d 100%);
  min-height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.signup-header {
  background: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  color: white;
  padding: 15% 30px;
  text-align: center;
  width: 35%;
}

.signup-body {
  padding: 40px 15%;
  width: 75%;
}

.signup-card {
  width: 100%;
  background: white;
  border-radius: 0px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
/* 
.btn-signup {
  background: linear-gradient(135deg, #6366f1, #a855f7);
  border: none;
  color: white;
  border-radius: 12px;
  padding: 12px;
  font-weight: bold;
  transition: all 0.3s ease; /* ホバー時の少しの動きをなめらかにする 
} */

/* .btn-signup:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(99, 102, 241, 0.4);
}
*/

.social-btn {
  border: 2px solid #e5e7eb;
  padding: 12px;
  transition: all 0.2s ease;
}

.social-btn:hover {
  border-color: var(--primary-color);
  background-color: #f9fafb;
}

.back-link {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: transform 0.2s ease;
}

.back-link:hover {
  transform: translateX(-5px);
  color: white;
}
